/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; default */
}
#evernote-container {
  height: 100%;
  box-sizing: border-box;
}
.app-container {
  /* height: 100vh; */  /*default*/
  height: 100%;
  box-sizing: border-box;
}
.quill {
  /* height: 100%; default */
  height: 100vh;
  box-sizing: border-box;
  /* width: calc(100% - 300px);  default */
  width: 100%;
  float: left;
}
.ql-container {
  box-sizing: border-box;
  height: calc(100% - 42px);
  overflow-y: scroll;
}
.ql-editor {
  cursor: text;
}
.MuiListItem-root.Mui-selected {
  background-color: #d4d8e8 !important;
}
.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}
.center: {
  text-align: center;
}



/* not effective */

/* @media(max-width: 768px)
  .quill {
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
  .app-container {
    height: 100%;
    box-sizing: border-box;
  }
  */
